link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin=""
script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""

#map class="map__google" style="width: 100%; height: 640px; background: #ececec; position: relative; z-index: 1;"

javascript:
  (function() {
    var point = #{point};
    var map = L.map('map', {
      center: [point.lat, point.long],
      zoom: 14,
      scrollWheelZoom: false,
      dragging: window.innerWidth > 480
    });

    L.tileLayer('https://{s}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}{r}.png', {
      attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> &copy; <a href="https://carto.com/">CARTO</a>',
      subdomains: 'abcd',
      maxZoom: 20
    }).addTo(map);

    var marker = L.marker([point.lat, point.long]).addTo(map);
    marker.bindPopup("<strong>" + point.name + "</strong><br>" + point.address);
  })();
