.cta-block
  +at-breakpoint(lte-tab)
    +margin-bottom(4)

.cta-block__data
  +vertical-padding(3)
  +horizontal-padding(2)
  width: 100%
  text-align: left

.cta-block__cover
  height: 100%
  img
    height: 100%
    object-fit: cover

.cta-block__contain
  +at-breakpoint(lte-desk)
    height: 400px
  +at-breakpoint(lte-tab)
    height: 250px
  // height: 100%
  img
    // height: 100%
    object-fit: contain

.cta-block__title
  +heading-font-family
  +font-size(gamma)
  color: $blue-color

.cta-block__content
  +margin-top(2)

.cta-block__actions
  +margin-top(3)
  display: inline-block

+at-breakpoint(lap)
  .cta-block__data
    +horizontal-padding(0)
    width: 70%

  .cta-block__cover
    height: 100%

+at-breakpoint(desk)
  .cta-block__data
    +horizontal-padding(6)
    width: 100%

  .cta-block__title
    +font-size(beta)
    width: 100%


.cta-block--homepage
  .align--center
    +at-breakpoint(lap)
      min-height: 600px

.cta-block__contain
  +at-breakpoint(lap)
    height: 600px
  img 
    height: 100%
    width: 100%
    object-fit: cover
