.cta-block

.cta-block__data
  +vertical-padding(6)
  width: 70%

.cta-block__cover
  height: 100%
  img
    height: 100%
    object-fit: cover

.cta-block__title
  +heading-font-family
  +font-size(gamma)
  color: $blue-color
  width: 60%

.cta-block__content
  +margin-top(2)

.cta-block__actions
  +margin-top(3)

+at-breakpoint(lap)

+at-breakpoint(desk)
  .cta-block__data
    +padding(6)
    width: 80%

  .cta-block__title
    +font-size(beta)
    width: 100%
