.hero
  background-color: transparent
  background-position: center center
  background-repeat: no-repeat
  background-size: cover
  position: relative

.hero--large
  @extend .hero
  height: 770px
  .hero__body
    height: 770px

@each $color, $value in $all-colors
  .hero--#{$color}
    @extend .hero
    +bg-variant($value)
    color: color-invert($value)

.hero__body
  display: table
  text-align: center
  width: 100%

.hero__body__inner
  +vertical-padding(4)
  display: table-cell
  vertical-align: middle

.hero__heading
  +heading-font-family
  +font-size(alpha)
  margin-left: auto
  margin-right: auto
  max-width: 80rem
  color: $white-color

.hero__text
  +heading-font-family
  +margin-top(2)
  margin-left: auto
  margin-right: auto
  max-width: 75rem

.hero__actions
  +margin-top(2)

.hero__wrap
  +position(absolute, null null 0 0)
  width: 100%

.hero__social

.hero__social__link
  color: $white-color

.hero__label

.hero__label__text

+at-breakpoint(desk)
