.info-gallery
  +vertical-padding(8)
  +bg-variant($blue-xl)

.info-gallery__info
  width: 100%
  +margin-bottom(2)

.info-gallery__info__inner
  +padding(4)
  +bg-variant($white-color)

.info-gallery__info__inner__title
  +heading-font-family
  color: $blue-color
  +font-size(gamma)
  border-bottom: 1px solid $blue-xl
  +padding-bottom(1)
  +margin-bottom(1.5)

.info-gallery__info__inner__image

.info-gallery__info__inner__data
  +margin-top(2)

.info-gallery__info__inner__data__label
  color: $blue-l
  +heading-font-family
  +margin-bottom(2)
  +font-size(smallprint)

.info-gallery__info__inner__data__text
  +margin-bottom(.5)
  white-space: nowrap

.info-gallery__gallery
  .slick-arrow
    width: 50px
    height: 50px
    top: 0
    transform: none
    color: $white-color
    opacity: 1
    &:hover
      color: $white-color
      opacity: 1
      &::before
        border-color: $white-color
  .slick-prev
    left: 0
    +bg-variant($blue-color)
    &:hover
      +bg-variant($blue-l)
  .slick-next
    right: auto
    left: 50px
    +bg-variant($blue-l)
    &:hover
      +bg-variant($blue-color)

.info-gallery__gallery__item

+at-breakpoint(desk)
  .info-gallery__info
    width: 80%
    +margin-bottom(0)

  .info-gallery__info__inner__data
    +margin-top(0)
