.site-nav
  +bg-variant($white-color)
  position: absolute
  width: 100%
  z-index: 11

.site-nav__inner
  display: flex
  align-content: center
  justify-content: space-between
  align-items: center

.site-nav__left
  +padding-left(2)
  flex: 1 0 40%
  max-width: 40%
  width: 100%

.site-nav__logo
  display: block
  height: 61px
  svg
    height: 100%

.site-nav__right
  display: none
  flex: 1 0 80%
  max-width: 80%
  width: 100%
  text-align: right

.site-nav__menu-toggler
  +bg-variant($orange-color)
  height: 80px
  width: 80px
  +padding(1)
  text-align: center
  position: relative

.site-nav__menu-toggler__box
  +position(absolute, 18px null null 1rem)
  +base-transition("material", "base")
  width: 65%
  height: 2px
  border-radius: 4px
  background: $white-color
  &::before,
  &::after
    +base-transition("material", "base")
    content: ''
    background: $white-color
    border-radius: 4px
    height: 2px
    width: 100%
  &::before
    +position(absolute, 20px null null 0)
  &::after
    +position(absolute, 40px null null 0)

  .is-shifted &
    +base-transition("material", "base")
    transform: translate3d(0,20px,0) rotate(45deg)
    &::before
      +base-transition("material", "base")
      transform: rotate(-45deg) translate3d(-5.71429px,-6px,0)
      opacity: 0
    &::after
      +base-transition("material", "base")
      transform: translate3d(0,-40px,0) rotate(-90deg)

.site-nav__menu
  display: none

.site-nav__menu__item
  display: inline-block
  +padding-right(2)
  &.has-triangle
    +padding-right(4)
    &::after
      content: ''
      border-left: 3px solid transparent
      border-right: 4px solid transparent
      border-top: 6px solid $orange-color
      +position(absolute, 20% 0 null null)

.site-nav__menu__link
  +heading-font-family
  +font-size(smallprint)
  color: #FFFFFF
  position: relative
  &::before
    content: ''
    background: $orange-color
    height: 1px
    width: 0
    +position(absolute, null null -10px 0)
  &:hover
    color: $orange-color
  &.is-active
    &::before
      width: 100%
  .has-triangle &
    &::after
      content: ''
      border-left: 3px solid transparent
      border-right: 4px solid transparent
      border-top: 6px solid $orange-color
      +position(absolute, null -14px 3px null)

.site-nav__topbar
  display: inline-block

.site-nav__topbar__locale
  display: none
  background: $blue-l
  position: relative

.site-nav__topbar__locale__switcher
  color: $white-color
  +heading-font-family
  text-transform: uppercase

.site-nav__topbar__locale__dropdown
  display: none
  +position(absolute, 100% null null 0)
  background: $blue-l
  width: 100%
  text-align: center
  .site-nav__topbar__locale:hover &
    display: block

.site-nav__topbar__locale__link
  display: block
  color: #FFFFFF
  text-transform: uppercase
  +vertical-padding(1)
  &.is-current
    background: $blue-color
    color: $white-color
  &:hover
    background: $blue-color
    color: $white-color

.header-plus
  background: $blue-color
  color: $white-color
  display: inline-block
  +horizontal-padding(2.5)
  +vertical-padding(2)
  +font-size(28px)
  svg
    width: 120px

// Site dropdown
.site-nav__menu__item__dropdown
  display: none
  +position(absolute, 79px 0 null 0)
  width: 100%
  background: rgba($blue-l, 0.8)
  +vertical-padding(2)
  text-align: left
  .site-nav__menu__item:hover &
    display: block

.site-nav__menu__item__dropdown__inner
  +horizontal-margin(2)

.site-nav__menu__item__dropdown__inner__right
  +margin-right(22)
  text-align: right

.site-nav__menu__item__dropdown__inner__menu
  display: inline-block
  vertical-align: top
  + .site-nav__menu__item__dropdown__inner__menu
    +margin-left(3)

.site-nav__menu__item__dropdown__label
  +font-size(smallprint)
  color: $white-color
  border-bottom: 1px solid $orange-color
  +padding-bottom(0.5)
  +margin-bottom(0.5)

.site-nav__menu__item__dropdown__menu__item

.site-nav__menu__item__dropdown__menu__link
  +heading-font-family
  +font-size(smallprint)
  color: $white-color
  display: block
  +vertical-padding(0.5)
  &:hover
    color: $orange-color

+at-breakpoint(lap)
  .site-nav__left
    +padding-left(4)
    flex: 1 0 40%
    max-width: 40%

  .site-nav__logo
    +vertical-padding(1)
    height: 80px

  .site-nav__right
    display: block
    flex: 1 0 50%
    max-width: 50%

  .site-nav__menu-toggler
    flex: 1 0 80px

+at-breakpoint(desk)
  .site-nav
    background: transparent

  .site-nav__left
    flex: 1 0 20%
    max-width: 20%

  .site-nav__right
    flex: 1 0 80%
    max-width: 80%

  .site-nav__menu-toggler
    display: none

  .site-nav__menu
    display: inline-block
    +padding-right(2)

  .site-nav__menu__item
    padding-bottom: 28px
    +padding-right(2)
    &.has-triangle
      +padding-right(3)

  .colum-2__Network
    column-count: 2

  .site-nav__topbar__locale
    display: inline-block
    +horizontal-padding(1)
    +padding-top(2.5833333333)
    +padding-bottom(2.5)

  .site-nav__topbar__locale__switcher
    +font-size(smallprint)

  .site-nav__topbar__locale__link
    +font-size(smallprint)
    +vertical-padding(1)

  .header-plus
    font-size: inherit
    +horizontal-padding(2)
    +vertical-padding(2.2)
    position: relative
    top: -1px
    svg
      height: 24px
      width: 110px

+at-breakpoint(monitor)
  .site-nav__menu__item
    padding-bottom: 34px
    +padding-right(2)
    &.has-triangle
      +padding-right(4)

  .site-nav__topbar__locale
    +horizontal-padding(2)
    +vertical-padding(2.78)

  .site-nav__topbar__locale__switcher
    +font-size(regular)

  .site-nav__topbar__locale__link
    +font-size(regular)
    +vertical-padding(1)

  .header-plus
    +horizontal-padding(4)
    +vertical-padding(2.8)
    svg
      height: 24px
      width: 120px

  .site-nav__menu__item__dropdown
    +position(absolute, 93px 0 null 0)
