.news
  background: $blue-xl
  +vertical-padding(8)

.news-block
  +margin-bottom(4)

.news-block__image
  +margin-bottom(2)

.new-block__content
  max-height: 170px

.news-block__content__date
  text-transform: uppercase
  +margin-bottom(1)

.news-block__content__title
  color: $blue-color
  +font-size(delta)
  +heading-font-family
  .news-block:hover &
    color: $orange-color

.news-evidence
  +vertical-padding(3)
  +margin-top(-6)
  z-index: 2
  position: relative

.news-evidence__block
  +vertical-padding(2)
  width: 100%

.news-evidence__block__date
  text-transform: uppercase
  +margin-bottom(2)

.news-evidence__block__title
  +heading-font-family
  color: $blue-color
  +font-size(gamma)
  +margin-bottom(2)

.news-evidence__block__abstract
  +margin-bottom(4)

.news-evidence__block__link
  color: $blue-l
  +font-size(smallprint)
  display: flex
  align-items: center
  i
    +base-transition("bounce", "base")
    +font-size(35px)
    +margin-left(1)
  &:hover
    color: $blue-l
    i
      color: $orange-color
      transform: translateX(15px)

+at-breakpoint(lap)
  .news-block
    +margin-bottom(6)

  .news-evidence
    +vertical-padding(5)
    +margin-top(0)
    z-index: 0

  .news-evidence__block
    +vertical-padding(4)
    width: 70%

  .news-evidence__block__title
    +font-size(beta)

+at-breakpoint(desk)
  .news-evidence__block__title
    +font-size(gamma)

+at-breakpoint(monitor)
  .news-evidence__block__title
    +font-size(beta)

.page-body
  +margin-top(5)