.site-footer
  position: relative

.site-footer__data
  background: $blue-color
  +vertical-padding(5)

.footer-block

.footer-block__title
  color: $white-color
  +heading-font-family

.site-footer__inner
  +vertical-padding(2)

.site-footer__copy
  +font-size(milli)
  a
    color: $black-color
